@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    color: #FFFFFF;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

/* Menu de navegação */

.menu-lateral {
    background-color: #2C759D;
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 18.5vw;
}

.menu-lateral h1 {
    font-size: 30pt;
    margin-left: 10%;
    margin-top: 10%;
    margin-right: auto;
}

.menu-lateral nav {
    height: 61.290322580645%;
}

ul#menu-items {
    display: flex;
    flex-direction: column;
    gap: 3.5087719298246%;
    height: 100%;
    justify-content: center;
    margin-left: 15%;
}

.menu-item {
    list-style: none;
}

.menu-item:hover {
    list-style: disc;
}

.menu-item a {
    font-size: 12pt;
    text-decoration: none;
    transition: font-weight 250ms, padding-left 250ms;
}

.menu-item a:hover {
    font-weight: 700;
    padding-left: 10px;
}

.menu-lateral hr {
    align-self: center;
    width: 80%;
}

/* Conteúdo */

.content {
    background-color: #282F33;
    height: 100%;
    width: 81.5vw;
    overflow-y: scroll;
}

/* Slider */

.slider {
    background-color: #000000;
    display: flex;
    flex-direction: row;
    height: 25%;
    justify-content: center;
    padding-bottom: 0.5%;
    width: 60%;
}

.prev-button {
    justify-content: start;
}

.prev {
    background: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(43,43,43,0) 100%);
}

.slider-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8%;
    justify-content: center;
    width: 64.905660377358%;
}

.slide-wrapper {
    background-color: red;
    height: 70%;
}

.slide-content {
    align-items: center;
    display: none;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: center;
}

.slide-title {
    display: flex;
    justify-content: center;
    justify-self: start;
}

.slide-button {
    border-radius: 100px;
    border: none;
    color: #000000;
    cursor: pointer;
    height: 40%;
    width: 32%;
}

.dot {
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.next-button {
    justify-content: end;
}

.next {
    background: linear-gradient(-90deg, rgba(255,255,255,0.2) 0%, rgba(43,43,43,0) 100%);
}

.prev-button, .next-button {
    display: flex;
    flex-grow: 1;
}

.prev, .next {
    align-self: center;
    font-size: 40pt;
    text-decoration: none;
}

.active {
    display: flex;
}