header {
    border-bottom: 0.3vh solid #68FF60;
    align-items: center;
    background-color: #022E17;
    display: flex;
    height: 10vh;
    justify-content: space-between;
    padding-left: 2vw;
    padding-right: 2vw;
    width: 96vw;
}

.logo {
    height: 5vh;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 5vh;
    width: 5vh;
}

.menu-button i {
    color: #68FF60;
    font-size: min(2.3408rem, 2vw);
}

@media only screen and (max-width: 768px) {
    header {
        height: 8vh;
        padding-left: 4vw;
        padding-right: 4vw;
        width: 92vw;
    }

    .logo {
        height: 3vh;
    }

    .menu-button {
        background-color: transparent;
        border: none;
        cursor: pointer;
        height: 4vh;
        width: 4vh;
    }
    
    .menu-button i {
        font-size: 1.6720rem;
    }
    
}