header {
    align-items: center;
    background-color: #2C759D;
    display: flex;
    height: 8vh;
    width: 100vw;
}

.menu-button {
    background-color: transparent;
    border: none;
    cursor: pointer;
    height: 4vh;
    margin-left: 1vw;
    width: 4vh;
}

.menu-button i {
    font-size: min(1.5048rem, 1.3376rem);
}