/* Menu de navegação */

.menu-lateral-container {
    height: 89.7vh;
    left: 0;
    overflow-x: hidden;
    position: absolute;
    top: 10.3vh;
}

.menu-lateral {
    background-color: #022E17;
    display: flex;
    flex-direction: column;
    height: calc(100vh - 22.3vh);
    overflow-y: auto;
    padding-top: 6vh;
    padding-bottom: 6vh;
    position: absolute;
    top: 10.3vh;
    transform: translateX(-19.5vw);
    width: 18.5vw;;

    scrollbar-color: #cacaca65 #022E17;
    scrollbar-width: thin;

    transition-property: transform;
    transition-duration: 500ms;
}

.showing {
    transform: translateX(0);
}

.menu-lateral h1 {
    font-size: min(2.5080rem, 2vw);
    margin-left: 2vw;
    margin-right: auto;
}

ul#menu-items {
    display: flex;
    flex-direction: column;
    gap: 2.5vh;
    margin-left: 3vw;
    padding: 6.4516129032258vh 2vw 6.4516129032258vh 0;
}

.menu-item {
    list-style: none;
}

.menu-item-title {
    align-items: center;
    background-color: transparent;
    border: none;
    cursor: pointer;
    display: flex;
    justify-content: space-between;
    text-align: start;
    width: 100%;
}

.menu-item-title i {
    font-size: min(1.3376rem, 1.3vw);
}

.menu-item-title a {
    text-decoration: none;
}

.menu-item-title span {
    font-size: min(1.0032rem, 0.85vw);
    max-width: 100%;
    overflow: hidden;
    padding-right: 5px;
    text-overflow: ellipsis;
    transition: font-weight 250ms, padding-left 250ms;
    white-space: nowrap;
}

.arrow {
    transition: transform 200ms;
}

.arrow-active {
    transform: rotate(-90deg);
}

/* Sub-menu */

.sub-menu-body {
    height: 0;
    opacity: 0;
    width: 100%;
}

.sub-menu-body.sub-active {
    height: auto;
    opacity: 1;
} 

.sub-menu-items {
    display: flex;
    flex-direction: column;
    gap: 1vh;
    height: 100%;
    padding-bottom: 1vh;
    padding-left: 1vw;
    padding-top: 1vh;
}

.sub-menu-item {
    list-style-type: none;
    max-width: 100%;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
}

.menu-item:has(.sub-active) span {
    color: #68FF60;
    font-weight: 700;
    padding-left: 0;
}

.sub-menu-item a {
    font-size: min(0.8360rem, 0.90vw);
    max-width: 100%;
    text-decoration: none;
    transition: font-weight 250ms;
}

.sub-menu-item a:hover {
    color: #68FF60;
    font-weight: 700;
}

/* Menu line division */

.menu-lateral hr {
    align-self: center;
    width: 80%;
}



@media only screen and (max-width: 768px) {
    .menu-lateral-container {
        height: calc(100vh - 8.3vh);
        top: 8.3vh;
        width: 80vw;
    }
    
    .menu-lateral {
        transform: translateX(81.5vw);
    }

    .showing {
        transform: translateX(0);
    }

    .menu-lateral h1 {
        font-size: 1.6720rem;
        margin-left: 6vw;
    }

    ul#menu-items {
        display: flex;
        flex-direction: column;
        gap: 2.5vh;
        margin-left: 10vw;
        padding-bottom: 5vh;
        padding-right: 10vw;
        padding-top: 5vh;
    }

    .menu-item-title i {
        font-size: 1.1704rem;
    }

    .menu-item-title span {
        font-size: 1.0032rem;
    }

    .sub-menu-items {
        padding-left: 4vw;
    }

    .sub-menu-item a {
        font-size: 0.8360rem;
    }
}