@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

* {
    color: #FFFFFF;
    font-family: Montserrat;
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: row;
    height: 100vh;
    width: 100vw;
}

/* Conteúdo */

.content {
    background-color: #282F33;
    height: 100%;
    width: 81.5vw;
    overflow-y: auto;

    scrollbar-color: #cacaca #282F33;
    scrollbar-width: thin;
}

.content-introduction {
    display: flex;
    height: 100vh;
    justify-content: center;
}

/* Slider */

.slider {
    background-color: #000000;
    border-radius: 4vh;
    display: flex;
    flex-direction: row;
    height: 25%;
    justify-content: center;
    padding-bottom: 0.5%;
    width: 50%;
}

.prev-button {
    justify-content: start;
}

.prev {
    background: linear-gradient(90deg, rgba(255,255,255,0.2) 0%, rgba(43,43,43,0) 100%);
}

.slider-content {
    align-items: center;
    display: flex;
    flex-direction: column;
    gap: 8%;
    justify-content: center;
    width: 64.905660377358%;
}

.slide-wrapper {
    height: 70%;
}

.slide-content {
    align-items: center;
    display: none;
    flex-direction: column;
    gap: 20px;
    height: 100%;
    justify-content: center;
}

.slide-title {
    display: flex;
    justify-content: center;
    justify-self: start;
}

.slide-title h2{
    font-size: 2.0064rem;
}

.slide-button {
    border-radius: 2vh;
    border: none;
    color: #000000;
    cursor: pointer;
    height: 40%;
    width: 32%;
}

.dot {
    background-color: #FFFFFF;
    border-radius: 50%;
    display: inline-block;
    height: 10px;
    width: 10px;
}

.next-button {
    justify-content: end;
}

.next {
    background: linear-gradient(-90deg, rgba(255,255,255,0.2) 0%, rgba(43,43,43,0) 100%);
}

.prev-button, .next-button {
    display: flex;
    flex-grow: 1;
}

.prev, .next {
    cursor: pointer;
    align-self: center;
    font-size: 3.3440rem;
    text-decoration: none;
    user-select: none;
}

.active {
    border-style: solid;
    border-width: 1px;
    background-color: #9E2C34;
    height: 9px;
    width: 9px;
}